In [123]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [124]:
taxizone_df = pd.read_csv("taxi_zone_lookup.csv")

taxizone_df.head(20)

    LocationID        Borough                     Zone service_zone
0            1            EWR           Newark Airport          EWR
1            2         Queens              Jamaica Bay    Boro Zone
2            3          Bronx  Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan            Alphabet City  Yellow Zone
4            5  Staten Island            Arden Heights    Boro Zone
5            6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6            7         Queens                  Astoria    Boro Zone
7            8         Queens             Astoria Park    Boro Zone
8            9         Queens               Auburndale    Boro Zone
9           10         Queens             Baisley Park    Boro Zone
10          11       Brooklyn               Bath Beach    Boro Zone
11          12      Manhattan             Battery Park  Yellow Zone
12          13      Manhattan        Battery Park City  Yellow Zone
13          14       Brooklyn                Bay Ridge    Boro Zone
14          15         Queens  Bay Terrace/Fort Totten    Boro Zone
15          16         Queens                  Bayside    Boro Zone
16          17       Brooklyn                  Bedford    Boro Zone
17          18          Bronx             Bedford Park    Boro Zone
18          19         Queens                Bellerose    Boro Zone
19          20          Bronx                  Belmont    Boro Zone

In [125]:
yellow_2023_03_df = pd.read_parquet("2023_taxi/yellow_tripdata_2023-03.parquet")
yellow_2023_06_df = pd.read_parquet("2023_taxi/yellow_tripdata_2023-06.parquet")
yellow_2023_09_df = pd.read_parquet("2023_taxi/yellow_tripdata_2023-09.parquet")
yellow_2023_12_df = pd.read_parquet("2023_taxi/yellow_tripdata_2023-12.parquet")

# Display the first few rows of the DataFrame
yellow_2023_df = pd.concat([
    yellow_2023_03_df, yellow_2023_06_df, yellow_2023_09_df, yellow_2023_12_df])

print(yellow_2023_df.head())
print(yellow_2023_df.shape)

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2023-03-01 00:06:43   2023-03-01 00:16:43              1.0
1         2  2023-03-01 00:08:25   2023-03-01 00:39:30              2.0
2         1  2023-03-01 00:15:04   2023-03-01 00:29:26              0.0
3         1  2023-03-01 00:49:37   2023-03-01 01:01:05              1.0
4         2  2023-03-01 00:08:04   2023-03-01 00:11:06              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.00         1.0                  N           238            42
1          12.40         1.0                  N           138           231
2           3.30         1.0                  N           140           186
3           2.90         1.0                  N           140            43
4           1.23         1.0                  N            79           137

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          8.6    1.0      0.5        0.00           0.0
1             1         52.7    6.0      0.5       12.54           0.0
2             1         18.4    3.5      0.5        4.65           0.0
3             1         15.6    3.5      0.5        4.10           0.0
4             1          7.2    1.0      0.5        2.44           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         11.10                   0.0         0.00
1                    1.0         76.49                   2.5         1.25
2                    1.0         28.05                   2.5         0.00
3                    1.0         24.70                   2.5         0.00
4                    1.0         14.64                   2.5         0.00
(12934289, 19)

In [126]:
# Drop rows where payment_type is 3, 4, 5, or 6
yellow_2023_df = yellow_2023_df[~yellow_2023_df['payment_type'].isin([3, 4, 5, 6])]
print(yellow_2023_df.payment_type.value_counts())

payment_type
1    10050215
2     2121997
0      507734
Name: count, dtype: int64

In [127]:
yellow_2023_df = yellow_2023_df.drop([
    'VendorID','store_and_fwd_flag','RatecodeID','passenger_count','payment_type','extra','mta_tax','tolls_amount',
    'improvement_surcharge','congestion_surcharge','Airport_fee']
                                     , axis=1)
print(yellow_2023_df)

        tpep_pickup_datetime tpep_dropoff_datetime  trip_distance  \
0        2023-03-01 00:06:43   2023-03-01 00:16:43           0.00
1        2023-03-01 00:08:25   2023-03-01 00:39:30          12.40
2        2023-03-01 00:15:04   2023-03-01 00:29:26           3.30
3        2023-03-01 00:49:37   2023-03-01 01:01:05           2.90
4        2023-03-01 00:08:04   2023-03-01 00:11:06           1.23
...                      ...                   ...            ...
3376562  2023-12-31 23:04:34   2023-12-31 23:13:58           1.34
3376563  2023-12-31 23:08:15   2023-12-31 23:08:23           0.00
3376564  2023-12-31 23:16:15   2023-12-31 23:30:28           3.71
3376565  2023-12-31 23:21:58   2023-12-31 23:34:29           5.20
3376566  2023-12-31 23:10:47   2023-12-31 23:27:58           6.81

         PULocationID  DOLocationID  fare_amount  tip_amount  total_amount
0                 238            42         8.60        0.00         11.10
1                 138           231        52.70       12.54         76.49
2                 140           186        18.40        4.65         28.05
3                 140            43        15.60        4.10         24.70
4                  79           137         7.20        2.44         14.64
...               ...           ...          ...         ...           ...
3376562           233           163        12.08        0.00         16.08
3376563            48            48        25.98        0.00         27.48
3376564           196           198        16.68        0.00         18.18
3376565           140           148        19.64        0.00         23.64
3376566           237           261        27.18        0.00         31.18

[12679946 rows x 8 columns]

In [128]:
yellow_2023_df = yellow_2023_df.rename(columns={
    'tpep_pickup_datetime': 'PU_datetime', 'tpep_dropoff_datetime': 'DO_datetime'
})

In [129]:
# Step 1: Create the 'taxi_type' column (assigning a value as example, e.g., 'HVFHV')
yellow_2023_df['taxi_type'] = 'yellow'

# Step 2: Move it to the first column
# Reorder the DataFrame with 'taxi_type' first
cols = ['taxi_type'] + [col for col in yellow_2023_df.columns if col != 'taxi_type']
yellow_2023_df = yellow_2023_df[cols]

print(yellow_2023_df)

        taxi_type         PU_datetime         DO_datetime  trip_distance  \
0          yellow 2023-03-01 00:06:43 2023-03-01 00:16:43           0.00
1          yellow 2023-03-01 00:08:25 2023-03-01 00:39:30          12.40
2          yellow 2023-03-01 00:15:04 2023-03-01 00:29:26           3.30
3          yellow 2023-03-01 00:49:37 2023-03-01 01:01:05           2.90
4          yellow 2023-03-01 00:08:04 2023-03-01 00:11:06           1.23
...           ...                 ...                 ...            ...
3376562    yellow 2023-12-31 23:04:34 2023-12-31 23:13:58           1.34
3376563    yellow 2023-12-31 23:08:15 2023-12-31 23:08:23           0.00
3376564    yellow 2023-12-31 23:16:15 2023-12-31 23:30:28           3.71
3376565    yellow 2023-12-31 23:21:58 2023-12-31 23:34:29           5.20
3376566    yellow 2023-12-31 23:10:47 2023-12-31 23:27:58           6.81

         PULocationID  DOLocationID  fare_amount  tip_amount  total_amount
0                 238            42         8.60        0.00         11.10
1                 138           231        52.70       12.54         76.49
2                 140           186        18.40        4.65         28.05
3                 140            43        15.60        4.10         24.70
4                  79           137         7.20        2.44         14.64
...               ...           ...          ...         ...           ...
3376562           233           163        12.08        0.00         16.08
3376563            48            48        25.98        0.00         27.48
3376564           196           198        16.68        0.00         18.18
3376565           140           148        19.64        0.00         23.64
3376566           237           261        27.18        0.00         31.18

[12679946 rows x 9 columns]

In [130]:
green_2023_03_df = pd.read_parquet("2023_taxi/green_tripdata_2023-03.parquet")
green_2023_06_df = pd.read_parquet("2023_taxi/green_tripdata_2023-06.parquet")
green_2023_09_df = pd.read_parquet("2023_taxi/green_tripdata_2023-09.parquet")
green_2023_12_df = pd.read_parquet("2023_taxi/green_tripdata_2023-12.parquet")

# Display the first few rows of the DataFrame
green_2023_df = pd.concat([
    green_2023_03_df, green_2023_06_df, green_2023_09_df, green_2023_12_df])

print(green_2023_df.head())
print(green_2023_df.shape)

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2023-03-01 00:25:10   2023-03-01 00:35:47                  N
1         2  2023-03-01 00:14:29   2023-03-01 00:25:04                  N
2         2  2023-03-01 00:14:29   2023-03-01 00:25:04                  N
3         2  2023-02-28 22:59:46   2023-02-28 23:08:38                  N
4         2  2023-03-01 00:54:03   2023-03-01 01:03:14                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            82           196              1.0           2.36
1         1.0             7             7              1.0           0.78
2         1.0             7             7              1.0           0.78
3         1.0           166            74              1.0           1.66
4         1.0           236           229              1.0           3.14

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         13.5    1.0      0.5        0.00           0.0        NaN
1         -6.5   -1.0     -0.5        0.00           0.0        NaN
2          6.5    1.0      0.5        0.00           0.0        NaN
3         11.4    1.0      0.5        2.78           0.0        NaN
4         15.6    1.0      0.5        4.17           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         16.00           2.0        1.0
1                   -1.0         -9.00           3.0        1.0
2                    1.0          9.00           3.0        1.0
3                    1.0         16.68           1.0        1.0
4                    1.0         25.02           1.0        1.0

   congestion_surcharge
0                  0.00
1                  0.00
2                  0.00
3                  0.00
4                  2.75
(267280, 20)

In [131]:
# Drop rows where payment_type is 3, 4, 5, or 6
green_2023_df = green_2023_df[~green_2023_df['payment_type'].isin([3, 4, 5, 6])]
print(green_2023_df.payment_type.value_counts())

payment_type
1.0    164149
2.0     81432
Name: count, dtype: int64

In [132]:
green_2023_df = green_2023_df.drop([
    'VendorID','store_and_fwd_flag','RatecodeID','passenger_count','payment_type','extra','mta_tax','tolls_amount',
    'improvement_surcharge','congestion_surcharge','ehail_fee','trip_type']
                                     , axis=1)
print(green_2023_df)

      lpep_pickup_datetime lpep_dropoff_datetime  PULocationID  DOLocationID  \
0      2023-03-01 00:25:10   2023-03-01 00:35:47            82           196
3      2023-02-28 22:59:46   2023-02-28 23:08:38           166            74
4      2023-03-01 00:54:03   2023-03-01 01:03:14           236           229
5      2023-03-01 01:00:09   2023-03-01 01:14:37            75           235
6      2023-03-01 00:09:45   2023-03-01 00:26:06           260           160
...                    ...                   ...           ...           ...
64210  2023-12-31 22:15:00   2023-12-31 22:35:00            97            37
64211  2023-12-31 23:17:00   2023-12-31 23:53:00           116            37
64212  2023-12-31 23:21:00   2023-12-31 23:33:00            65            80
64213  2023-12-31 23:15:00   2023-12-31 23:40:00            36            65
64214  2023-12-31 23:09:00   2023-12-31 23:27:00            61           232

       trip_distance  fare_amount  tip_amount  total_amount
0               2.36        13.50        0.00         16.00
3               1.66        11.40        2.78         16.68
4               3.14        15.60        4.17         25.02
5               5.69        23.30        4.00         29.80
6               2.92        17.70        4.04         24.24
...              ...          ...         ...           ...
64210           9.87        20.28        4.26         25.54
64211          12.07        55.38       12.66         75.98
64212           3.84        16.93        3.59         21.52
64213           6.18        30.01        6.20         37.21
64214           4.31        23.36        4.07         31.18

[264836 rows x 8 columns]

In [133]:
green_2023_df = green_2023_df.rename(columns={
    'lpep_pickup_datetime': 'PU_datetime', 'lpep_dropoff_datetime': 'DO_datetime'
})

In [134]:
# Step 1: Create the 'taxi_type' column (assigning a value as example, e.g., 'HVFHV')
green_2023_df['taxi_type'] = 'green'

# Step 2: Move it to the first column
# Reorder the DataFrame with 'taxi_type' first
cols = ['taxi_type'] + [col for col in green_2023_df.columns if col != 'taxi_type']
green_2023_df = green_2023_df[cols]

print(green_2023_df)

      taxi_type         PU_datetime         DO_datetime  PULocationID  \
0         green 2023-03-01 00:25:10 2023-03-01 00:35:47            82
3         green 2023-02-28 22:59:46 2023-02-28 23:08:38           166
4         green 2023-03-01 00:54:03 2023-03-01 01:03:14           236
5         green 2023-03-01 01:00:09 2023-03-01 01:14:37            75
6         green 2023-03-01 00:09:45 2023-03-01 00:26:06           260
...         ...                 ...                 ...           ...
64210     green 2023-12-31 22:15:00 2023-12-31 22:35:00            97
64211     green 2023-12-31 23:17:00 2023-12-31 23:53:00           116
64212     green 2023-12-31 23:21:00 2023-12-31 23:33:00            65
64213     green 2023-12-31 23:15:00 2023-12-31 23:40:00            36
64214     green 2023-12-31 23:09:00 2023-12-31 23:27:00            61

       DOLocationID  trip_distance  fare_amount  tip_amount  total_amount
0               196           2.36        13.50        0.00         16.00
3                74           1.66        11.40        2.78         16.68
4               229           3.14        15.60        4.17         25.02
5               235           5.69        23.30        4.00         29.80
6               160           2.92        17.70        4.04         24.24
...             ...            ...          ...         ...           ...
64210            37           9.87        20.28        4.26         25.54
64211            37          12.07        55.38       12.66         75.98
64212            80           3.84        16.93        3.59         21.52
64213            65           6.18        30.01        6.20         37.21
64214           232           4.31        23.36        4.07         31.18

[264836 rows x 9 columns]

In [135]:
fhvhv_2023_03_df = pd.read_parquet("2023_taxi/fhvhv_tripdata_2023-03.parquet")
fhvhv_2023_06_df = pd.read_parquet("2023_taxi/fhvhv_tripdata_2023-06.parquet")
fhvhv_2023_09_df = pd.read_parquet("2023_taxi/fhvhv_tripdata_2023-09.parquet")
fhvhv_2023_12_df = pd.read_parquet("2023_taxi/fhvhv_tripdata_2023-12.parquet")

# Display the first few rows of the DataFrame
fhvhv_2023_df = pd.concat([
    fhvhv_2023_03_df, fhvhv_2023_06_df, fhvhv_2023_09_df, fhvhv_2023_12_df])

print(fhvhv_2023_df.head())
print(fhvhv_2023_df.shape)

  hvfhs_license_num dispatching_base_num originating_base_num  \
0            HV0003               B03404               B03404
1            HV0003               B03404               B03404
2            HV0003               B03404               B03404
3            HV0003               B03404               B03404
4            HV0003               B03404               B03404

     request_datetime   on_scene_datetime     pickup_datetime  \
0 2023-03-01 00:02:05 2023-03-01 00:05:26 2023-03-01 00:05:26
1 2023-03-01 00:11:47 2023-03-01 00:12:58 2023-03-01 00:14:30
2 2023-03-01 00:35:59 2023-03-01 00:36:50 2023-03-01 00:38:51
3 2023-03-01 00:24:18 2023-03-01 00:30:55 2023-03-01 00:31:03
4 2023-03-01 00:04:54 2023-03-01 00:07:43 2023-03-01 00:08:00

     dropoff_datetime  PULocationID  DOLocationID  trip_miles  ...  sales_tax  \
0 2023-03-01 00:11:05           114            79        1.21  ...       0.69
1 2023-03-01 00:31:12            79            79        2.61  ...       1.87
2 2023-03-01 01:05:46           113           265        6.58  ...       0.00
3 2023-03-01 00:49:24           229           260        4.28  ...       1.52
4 2023-03-01 00:25:29           144           179        9.31  ...       2.79

   congestion_surcharge  airport_fee  tips  driver_pay  shared_request_flag  \
0                  2.75          0.0  0.00        5.50                    N
1                  2.75          0.0  0.00       13.46                    N
2                  0.00          0.0  0.00       25.19                    N
3                  0.75          0.0  4.00       15.54                    Y
4                  2.75          0.0  3.79       21.24                    N

   shared_match_flag  access_a_ride_flag  wav_request_flag wav_match_flag
0                  N                                     N              N
1                  N                                     N              N
2                  N                                     N              N
3                  N                                     N              N
4                  N                                     N              N

[5 rows x 24 columns]
(80147578, 24)

In [136]:
fhvhv_2023_df.columns

Index(['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag'],
      dtype='object')

In [137]:
# Create the total_amount column by summing the monetary components
fhvhv_2023_df['total_amount'] = (
    fhvhv_2023_df['base_passenger_fare'] +
    fhvhv_2023_df['tolls'] +
    fhvhv_2023_df['bcf'] +
    fhvhv_2023_df['sales_tax'] +
    fhvhv_2023_df['congestion_surcharge'] +
    fhvhv_2023_df['airport_fee'] +
    fhvhv_2023_df['tips']
)

# Display to confirm
fhvhv_2023_df[['base_passenger_fare', 'tolls', 'bcf', 'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips', 'total_amount']].head()

,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,total_amount
0,7.72,0.0,0.23,0.69,2.75,0.0,0.00,11.39
1,21.06,0.0,0.63,1.87,2.75,0.0,0.00,26.31
2,33.65,20.0,1.61,0.00,0.00,0.0,0.00,55.26
3,17.09,0.0,0.51,1.52,0.75,0.0,4.00,23.87
4,31.49,0.0,0.94,2.79,2.75,0.0,3.79,41.76

In [138]:
fhvhv_2023_df = fhvhv_2023_df.drop([
    'dispatching_base_num','originating_base_num','request_datetime','on_scene_datetime','shared_request_flag',
    'trip_time','tolls', 'bcf', 'sales_tax','congestion_surcharge','airport_fee','driver_pay','shared_match_flag','access_a_ride_flag','wav_request_flag','wav_match_flag']
                                     , axis=1)
print(fhvhv_2023_df.head())

  hvfhs_license_num     pickup_datetime    dropoff_datetime  PULocationID  \
0            HV0003 2023-03-01 00:05:26 2023-03-01 00:11:05           114
1            HV0003 2023-03-01 00:14:30 2023-03-01 00:31:12            79
2            HV0003 2023-03-01 00:38:51 2023-03-01 01:05:46           113
3            HV0003 2023-03-01 00:31:03 2023-03-01 00:49:24           229
4            HV0003 2023-03-01 00:08:00 2023-03-01 00:25:29           144

   DOLocationID  trip_miles  base_passenger_fare  tips  total_amount
0            79        1.21                 7.72  0.00         11.39
1            79        2.61                21.06  0.00         26.31
2           265        6.58                33.65  0.00         55.26
3           260        4.28                17.09  4.00         23.87
4           179        9.31                31.49  3.79         41.76

In [139]:
# Define the mapping from license number to taxi type
license_map = {
    'HV0002': 'Juno',
    'HV0003': 'Uber',
    'HV0004': 'Via',
    'HV0005': 'Lyft'
}

# Create a new column using the map
fhvhv_2023_df['taxi_type'] = fhvhv_2023_df['hvfhs_license_num'].map(license_map)

# Step 2: Drop the original hvfhs_license_num column
fhvhv_2023_df.drop(columns=['hvfhs_license_num'], inplace=True)

# Step 3: Move 'taxi_type' to the first column
cols = ['taxi_type'] + [col for col in fhvhv_2023_df.columns if col != 'taxi_type']
fhvhv_2023_df = fhvhv_2023_df[cols]

print(fhvhv_2023_df.head())

  taxi_type     pickup_datetime    dropoff_datetime  PULocationID  \
0      Uber 2023-03-01 00:05:26 2023-03-01 00:11:05           114
1      Uber 2023-03-01 00:14:30 2023-03-01 00:31:12            79
2      Uber 2023-03-01 00:38:51 2023-03-01 01:05:46           113
3      Uber 2023-03-01 00:31:03 2023-03-01 00:49:24           229
4      Uber 2023-03-01 00:08:00 2023-03-01 00:25:29           144

   DOLocationID  trip_miles  base_passenger_fare  tips  total_amount
0            79        1.21                 7.72  0.00         11.39
1            79        2.61                21.06  0.00         26.31
2           265        6.58                33.65  0.00         55.26
3           260        4.28                17.09  4.00         23.87
4           179        9.31                31.49  3.79         41.76

In [140]:
# Step 1: Standardize column names for Uber-style (hvfhs_2023_df)
fhvhv_2023_df = fhvhv_2023_df.rename(columns={
    'pickup_datetime': 'PU_datetime',
    'dropoff_datetime': 'DO_datetime',
    'trip_miles': 'trip_distance',
    'base_passenger_fare': 'fare_amount',
    'tips': 'tip_amount'
})

# Step 2: Select and reorder columns in consistent order
final_columns = [
    'taxi_type', 'PU_datetime', 'DO_datetime',
    'trip_distance', 'PULocationID', 'DOLocationID',
    'fare_amount', 'tip_amount', 'total_amount'
]

yellow_2023_df = yellow_2023_df[final_columns]
green_2023_df = green_2023_df[final_columns]
fhvhv_2023_df = fhvhv_2023_df[final_columns]

# Step 3: Merge them all
taxi_2023_df = pd.concat([yellow_2023_df, green_2023_df, fhvhv_2023_df], ignore_index=True)
print(taxi_2023_df.head())
print(taxi_2023_df.shape)

  taxi_type         PU_datetime         DO_datetime  trip_distance  \
0    yellow 2023-03-01 00:06:43 2023-03-01 00:16:43           0.00
1    yellow 2023-03-01 00:08:25 2023-03-01 00:39:30          12.40
2    yellow 2023-03-01 00:15:04 2023-03-01 00:29:26           3.30
3    yellow 2023-03-01 00:49:37 2023-03-01 01:01:05           2.90
4    yellow 2023-03-01 00:08:04 2023-03-01 00:11:06           1.23

   PULocationID  DOLocationID  fare_amount  tip_amount  total_amount
0           238            42          8.6        0.00         11.10
1           138           231         52.7       12.54         76.49
2           140           186         18.4        4.65         28.05
3           140            43         15.6        4.10         24.70
4            79           137          7.2        2.44         14.64
(93092360, 9)

In [141]:
import datetime
# Step 1: Ensure PU_datetime is datetime type
taxi_2023_df['PU_datetime'] = pd.to_datetime(taxi_2023_df['PU_datetime'])

# Step 2: Extract month
taxi_2023_df['month'] = taxi_2023_df['PU_datetime'].dt.month

# Step 3: Split into separate DataFrames
taxi_2023_03_df = taxi_2023_df[taxi_2023_df['month'] == 3].copy()
taxi_2023_06_df = taxi_2023_df[taxi_2023_df['month'] == 6].copy()
taxi_2023_09_df = taxi_2023_df[taxi_2023_df['month'] == 9].copy()
taxi_2023_12_df = taxi_2023_df[taxi_2023_df['month'] == 12].copy()

In [142]:
def merge_taxizone(df, taxizone_df):

    # Merge for Pickup Location Information
    merged_pu = df.merge(taxizone_df, left_on='PULocationID', right_on='LocationID', how='left', suffixes=('', '_PU'))
    
    # Rename the relevant columns for clarity
    merged_pu = merged_pu.rename(columns={'PULocationID': 'PU_location_id', 'Borough': 'PU_borough', 'Zone': 'PU_zone'})
    
    # Merge for Dropoff Location Information
    merged_full = merged_pu.merge(taxizone_df, left_on='DOLocationID', right_on='LocationID', how='left', suffixes=('', '_DO'))
    
    # Rename the relevant columns for clarity
    merged_full = merged_full.rename(columns={'DOLocationID': 'DO_location_id', 'Borough': 'DO_borough', 'Zone': 'DO_zone'})
    
    # Drop unnecessary duplicate 'LocationID' columns
    merged_df = merged_full.drop(['month', 'LocationID', 'LocationID_DO','service_zone','service_zone_DO'], axis=1)
    
    print(merged_df.head())
    return merged_df

In [163]:
taxi_2023_03_df = merge_taxizone(taxi_2023_03_df, taxizone_df)
taxi_2023_06_df = merge_taxizone(taxi_2023_06_df, taxizone_df)
taxi_2023_09_df = merge_taxizone(taxi_2023_09_df, taxizone_df)
taxi_2023_12_df = merge_taxizone(taxi_2023_12_df, taxizone_df)

  taxi_type         PU_datetime         DO_datetime  trip_distance  \
0    yellow 2023-03-01 00:06:43 2023-03-01 00:16:43           0.00
1    yellow 2023-03-01 00:08:25 2023-03-01 00:39:30          12.40
2    yellow 2023-03-01 00:15:04 2023-03-01 00:29:26           3.30
3    yellow 2023-03-01 00:49:37 2023-03-01 01:01:05           2.90
4    yellow 2023-03-01 00:08:04 2023-03-01 00:11:06           1.23

   PU_location_id  DO_location_id  fare_amount  tip_amount  total_amount  \
0             238              42          8.6        0.00         11.10
1             138             231         52.7       12.54         76.49
2             140             186         18.4        4.65         28.05
3             140              43         15.6        4.10         24.70
4              79             137          7.2        2.44         14.64

  PU_borough                PU_zone DO_borough                       DO_zone
0  Manhattan  Upper West Side North  Manhattan          Central Harlem North
1     Queens      LaGuardia Airport  Manhattan          TriBeCa/Civic Center
2  Manhattan        Lenox Hill East  Manhattan  Penn Station/Madison Sq West
3  Manhattan        Lenox Hill East  Manhattan                  Central Park
4  Manhattan           East Village  Manhattan                      Kips Bay
  taxi_type         PU_datetime         DO_datetime  trip_distance  \
0    yellow 2023-06-01 00:08:48 2023-06-01 00:29:41           3.40
1    yellow 2023-06-01 00:15:04 2023-06-01 00:25:18           3.40
2    yellow 2023-06-01 00:48:24 2023-06-01 01:07:07          10.20
3    yellow 2023-06-01 00:54:03 2023-06-01 01:17:29           9.83
4    yellow 2023-06-01 00:18:44 2023-06-01 00:27:18           1.17

   PU_location_id  DO_location_id  fare_amount  tip_amount  total_amount  \
0             140             238         21.9        6.70         33.60
1              50             151         15.6        3.00         23.60
2             138              97         40.8       10.00         60.05
3             100             244         39.4        8.88         53.28
4             137             234          9.3        0.72         15.02

  PU_borough            PU_zone DO_borough                   DO_zone
0  Manhattan    Lenox Hill East  Manhattan     Upper West Side North
1  Manhattan       Clinton West  Manhattan          Manhattan Valley
2     Queens  LaGuardia Airport   Brooklyn               Fort Greene
3  Manhattan   Garment District  Manhattan  Washington Heights South
4  Manhattan           Kips Bay  Manhattan                  Union Sq
  taxi_type         PU_datetime         DO_datetime  trip_distance  \
0    yellow 2023-09-01 00:15:37 2023-09-01 00:20:21           0.80
1    yellow 2023-09-01 00:18:40 2023-09-01 00:30:28           2.34
2    yellow 2023-09-01 00:35:01 2023-09-01 00:39:04           1.62
3    yellow 2023-09-01 00:45:45 2023-09-01 00:47:37           0.74
4    yellow 2023-09-01 00:01:23 2023-09-01 00:38:05           9.85

   PU_location_id  DO_location_id  fare_amount  tip_amount  total_amount  \
0             163             230          6.5        0.00         11.50
1             236             233         14.2        2.00         21.20
2             162             236          8.6        2.00         15.60
3             141             229          5.1        1.00         11.10
4             138             230         45.0       17.02         73.77

  PU_borough                PU_zone DO_borough                        DO_zone
0  Manhattan          Midtown North  Manhattan      Times Sq/Theatre District
1  Manhattan  Upper East Side North  Manhattan            UN/Turtle Bay South
2  Manhattan           Midtown East  Manhattan          Upper East Side North
3  Manhattan        Lenox Hill West  Manhattan  Sutton Place/Turtle Bay North
4     Queens      LaGuardia Airport  Manhattan      Times Sq/Theatre District
  taxi_type         PU_datetime         DO_datetime  trip_distance  \
0    yellow 2008-12-31 23:34:45 2008-12-31 23:49:52          11.32
1    yellow 2008-12-31 10:34:59 2008-12-31 10:49:59           3.01
2    yellow 2002-12-31 23:10:19 2002-12-31 23:36:28           6.96
3    yellow 2002-12-31 23:33:00 2003-01-01 00:03:40          17.54
4    yellow 2002-12-31 23:03:19 2003-01-01 11:52:29          18.13

   PU_location_id  DO_location_id  fare_amount  tip_amount  total_amount  \
0             132             101         42.2        0.00         44.95
1             132             231         17.0        0.00         21.00
2             132              28         31.7        0.00         35.45
3             132              79         70.0        0.00         81.80
4             132             161         70.0       16.46         98.76

  PU_borough      PU_zone DO_borough                  DO_zone
0     Queens  JFK Airport     Queens                Glen Oaks
1     Queens  JFK Airport  Manhattan     TriBeCa/Civic Center
2     Queens  JFK Airport     Queens  Briarwood/Jamaica Hills
3     Queens  JFK Airport  Manhattan             East Village
4     Queens  JFK Airport  Manhattan           Midtown Center

In [165]:
def detailed_time(df):
    df['PU_month'] = df['PU_datetime'].dt.month
    df['PU_day'] = df['PU_datetime'].dt.day
    df['PU_hour'] = df['PU_datetime'].dt.hour
    df['PU_day_of_week'] = df['PU_datetime'].dt.day_name()
    
    df['DO_month'] = df['DO_datetime'].dt.month
    df['DO_day'] = df['DO_datetime'].dt.day
    df['DO_hour'] = df['DO_datetime'].dt.hour
    df['DO_day_of_week'] = df['DO_datetime'].dt.day_name()
    
    print(df)
    return df

In [167]:
taxi_2023_03_df = detailed_time(taxi_2023_03_df)
taxi_2023_06_df = detailed_time(taxi_2023_06_df)
taxi_2023_09_df = detailed_time(taxi_2023_09_df)
taxi_2023_12_df = detailed_time(taxi_2023_12_df)

         taxi_type         PU_datetime         DO_datetime  trip_distance  \
0           yellow 2023-03-01 00:06:43 2023-03-01 00:16:43           0.00
1           yellow 2023-03-01 00:08:25 2023-03-01 00:39:30          12.40
2           yellow 2023-03-01 00:15:04 2023-03-01 00:29:26           3.30
3           yellow 2023-03-01 00:49:37 2023-03-01 01:01:05           2.90
4           yellow 2023-03-01 00:08:04 2023-03-01 00:11:06           1.23
...            ...                 ...                 ...            ...
23828280      Uber 2023-03-31 23:13:19 2023-03-31 23:22:31           3.31
23828281      Uber 2023-03-31 23:41:49 2023-03-31 23:48:18           0.75
23828282      Uber 2023-03-31 23:56:54 2023-04-01 00:05:39           1.47
23828283      Uber 2023-03-31 23:48:57 2023-04-01 00:14:09           7.08
23828284      Uber 2023-03-31 23:19:13 2023-03-31 23:29:44           2.08

          PU_location_id  DO_location_id  fare_amount  tip_amount  \
0                    238              42         8.60        0.00
1                    138             231        52.70       12.54
2                    140             186        18.40        4.65
3                    140              43        15.60        4.10
4                     79             137         7.20        2.44
...                  ...             ...          ...         ...
23828280             208             212        13.40        0.00
23828281             248             248        11.92        7.00
23828282              60             248         8.87        0.00
23828283             234             261        77.53       13.42
23828284              32              18        11.57        0.00

          total_amount PU_borough  ... DO_borough  \
0                11.10  Manhattan  ...  Manhattan
1                76.49     Queens  ...  Manhattan
2                28.05  Manhattan  ...  Manhattan
3                24.70  Manhattan  ...  Manhattan
4                14.64  Manhattan  ...  Manhattan
...                ...        ...  ...        ...
23828280         14.99      Bronx  ...      Bronx
23828281         20.34      Bronx  ...      Bronx
23828282          9.93      Bronx  ...      Bronx
23828283        102.91  Manhattan  ...  Manhattan
23828284         12.95      Bronx  ...      Bronx

                               DO_zone PU_month  PU_day  PU_hour  \
0                 Central Harlem North        3       1        0
1                 TriBeCa/Civic Center        3       1        0
2         Penn Station/Madison Sq West        3       1        0
3                         Central Park        3       1        0
4                             Kips Bay        3       1        0
...                                ...      ...     ...      ...
23828280            Soundview/Bruckner        3      31       23
23828281        West Farms/Bronx River        3      31       23
23828282        West Farms/Bronx River        3      31       23
23828283            World Trade Center        3      31       23
23828284                  Bedford Park        3      31       23

          PU_day_of_week DO_month  DO_day  DO_hour  DO_day_of_week
0              Wednesday        3       1        0       Wednesday
1              Wednesday        3       1        0       Wednesday
2              Wednesday        3       1        0       Wednesday
3              Wednesday        3       1        1       Wednesday
4              Wednesday        3       1        0       Wednesday
...                  ...      ...     ...      ...             ...
23828280          Friday        3      31       23          Friday
23828281          Friday        3      31       23          Friday
23828282          Friday        4       1        0        Saturday
23828283          Friday        4       1        0        Saturday
23828284          Friday        3      31       23          Friday

[23828285 rows x 21 columns]
         taxi_type         PU_datetime         DO_datetime  trip_distance  \
0           yellow 2023-06-01 00:08:48 2023-06-01 00:29:41          3.400
1           yellow 2023-06-01 00:15:04 2023-06-01 00:25:18          3.400
2           yellow 2023-06-01 00:48:24 2023-06-01 01:07:07         10.200
3           yellow 2023-06-01 00:54:03 2023-06-01 01:17:29          9.830
4           yellow 2023-06-01 00:18:44 2023-06-01 00:27:18          1.170
...            ...                 ...                 ...            ...
22676355      Lyft 2023-06-30 23:15:16 2023-06-30 23:19:30          1.027
22676356      Lyft 2023-06-30 23:24:46 2023-06-30 23:47:49          8.842
22676357      Lyft 2023-06-30 23:58:44 2023-07-01 00:05:15          0.360
22676358      Uber 2023-06-30 23:32:06 2023-06-30 23:41:26          1.570
22676359      Uber 2023-06-30 23:44:42 2023-06-30 23:55:51          2.240

          PU_location_id  DO_location_id  fare_amount  tip_amount  \
0                    140             238        21.90        6.70
1                     50             151        15.60        3.00
2                    138              97        40.80       10.00
3                    100             244        39.40        8.88
4                    137             234         9.30        0.72
...                  ...             ...          ...         ...
22676355              38             191         6.97        0.00
22676356             191             216        46.83        0.00
22676357             215              10        11.14        0.00
22676358              42             116        10.65        0.00
22676359             116             159        15.17        0.00

          total_amount PU_borough  ... DO_borough                   DO_zone  \
0                33.60  Manhattan  ...  Manhattan     Upper West Side North
1                23.60  Manhattan  ...  Manhattan          Manhattan Valley
2                60.05     Queens  ...   Brooklyn               Fort Greene
3                53.28  Manhattan  ...  Manhattan  Washington Heights South
4                15.02  Manhattan  ...  Manhattan                  Union Sq
...                ...        ...  ...        ...                       ...
22676355          7.78     Queens  ...     Queens            Queens Village
22676356         52.28     Queens  ...     Queens          South Ozone Park
22676357         12.44     Queens  ...     Queens              Baisley Park
22676358         11.92  Manhattan  ...  Manhattan          Hamilton Heights
22676359         16.98  Manhattan  ...      Bronx             Melrose South

         PU_month  PU_day  PU_hour  PU_day_of_week DO_month  DO_day  DO_hour  \
0               6       1        0        Thursday        6       1        0
1               6       1        0        Thursday        6       1        0
2               6       1        0        Thursday        6       1        1
3               6       1        0        Thursday        6       1        1
4               6       1        0        Thursday        6       1        0
...           ...     ...      ...             ...      ...     ...      ...
22676355        6      30       23          Friday        6      30       23
22676356        6      30       23          Friday        6      30       23
22676357        6      30       23          Friday        7       1        0
22676358        6      30       23          Friday        6      30       23
22676359        6      30       23          Friday        6      30       23

          DO_day_of_week
0               Thursday
1               Thursday
2               Thursday
3               Thursday
4               Thursday
...                  ...
22676355          Friday
22676356          Friday
22676357        Saturday
22676358          Friday
22676359          Friday

[22676360 rows x 21 columns]
         taxi_type         PU_datetime         DO_datetime  trip_distance  \
0           yellow 2023-09-01 00:15:37 2023-09-01 00:20:21          0.800
1           yellow 2023-09-01 00:18:40 2023-09-01 00:30:28          2.340
2           yellow 2023-09-01 00:35:01 2023-09-01 00:39:04          1.620
3           yellow 2023-09-01 00:45:45 2023-09-01 00:47:37          0.740
4           yellow 2023-09-01 00:01:23 2023-09-01 00:38:05          9.850
...            ...                 ...                 ...            ...
22706430      Lyft 2023-09-30 23:26:48 2023-09-30 23:59:21          3.461
22706431      Uber 2023-09-30 23:24:00 2023-09-30 23:38:33          3.120
22706432      Uber 2023-09-30 23:42:26 2023-10-01 00:03:49          4.270
22706433      Lyft 2023-09-30 23:15:03 2023-09-30 23:30:43          4.003
22706434      Lyft 2023-09-30 23:49:49 2023-10-01 00:03:51          2.978

          PU_location_id  DO_location_id  fare_amount  tip_amount  \
0                    163             230         6.50        0.00
1                    236             233        14.20        2.00
2                    162             236         8.60        2.00
3                    141             229         5.10        1.00
4                    138             230        45.00       17.02
...                  ...             ...          ...         ...
22706430              79             246        20.62        0.00
22706431             181             148        23.44        0.00
22706432             148             265        31.56        0.00
22706433             200              20        21.28        0.00
22706434              47             159        16.95        0.00

          total_amount PU_borough  ... DO_borough  \
0                11.50  Manhattan  ...  Manhattan
1                21.20  Manhattan  ...  Manhattan
2                15.60  Manhattan  ...  Manhattan
3                11.10  Manhattan  ...  Manhattan
4                73.77     Queens  ...  Manhattan
...                ...        ...  ...        ...
22706430         25.77  Manhattan  ...  Manhattan
22706431         28.91   Brooklyn  ...  Manhattan
22706432         52.98  Manhattan  ...        NaN
22706433         23.76      Bronx  ...      Bronx
22706434         18.93      Bronx  ...      Bronx

                                DO_zone PU_month  PU_day  PU_hour  \
0             Times Sq/Theatre District        9       1        0
1                   UN/Turtle Bay South        9       1        0
2                 Upper East Side North        9       1        0
3         Sutton Place/Turtle Bay North        9       1        0
4             Times Sq/Theatre District        9       1        0
...                                 ...      ...     ...      ...
22706430      West Chelsea/Hudson Yards        9      30       23
22706431                Lower East Side        9      30       23
22706432                 Outside of NYC        9      30       23
22706433                        Belmont        9      30       23
22706434                  Melrose South        9      30       23

          PU_day_of_week DO_month  DO_day  DO_hour  DO_day_of_week
0                 Friday        9       1        0          Friday
1                 Friday        9       1        0          Friday
2                 Friday        9       1        0          Friday
3                 Friday        9       1        0          Friday
4                 Friday        9       1        0          Friday
...                  ...      ...     ...      ...             ...
22706430        Saturday        9      30       23        Saturday
22706431        Saturday        9      30       23        Saturday
22706432        Saturday       10       1        0          Sunday
22706433        Saturday        9      30       23        Saturday
22706434        Saturday       10       1        0          Sunday

[22706435 rows x 21 columns]
         taxi_type         PU_datetime         DO_datetime  trip_distance  \
0           yellow 2008-12-31 23:34:45 2008-12-31 23:49:52         11.320
1           yellow 2008-12-31 10:34:59 2008-12-31 10:49:59          3.010
2           yellow 2002-12-31 23:10:19 2002-12-31 23:36:28          6.960
3           yellow 2002-12-31 23:33:00 2003-01-01 00:03:40         17.540
4           yellow 2002-12-31 23:03:19 2003-01-01 11:52:29         18.130
...            ...                 ...                 ...            ...
23880928      Lyft 2023-12-31 23:39:27 2023-12-31 23:48:05          1.581
23880929      Uber 2023-12-31 23:21:17 2023-12-31 23:50:30          8.740
23880930      Uber 2023-12-31 23:22:26 2023-12-31 23:26:17          0.530
23880931      Uber 2023-12-31 23:03:17 2023-12-31 23:30:34         10.140
23880932      Uber 2023-12-31 23:38:44 2023-12-31 23:48:15          1.900

          PU_location_id  DO_location_id  fare_amount  tip_amount  \
0                    132             101        42.20        0.00
1                    132             231        17.00        0.00
2                    132              28        31.70        0.00
3                    132              79        70.00        0.00
4                    132             161        70.00       16.46
...                  ...             ...          ...         ...
23880928              17              49        10.58        0.00
23880929             186             160        30.28        0.00
23880930             228             228         8.94        0.00
23880931             119              50        24.36        0.00
23880932             143             237        14.53        1.00

          total_amount PU_borough  ... DO_borough                  DO_zone  \
0                44.95     Queens  ...     Queens                Glen Oaks
1                21.00     Queens  ...  Manhattan     TriBeCa/Civic Center
2                35.45     Queens  ...     Queens  Briarwood/Jamaica Hills
3                81.80     Queens  ...  Manhattan             East Village
4                98.76     Queens  ...  Manhattan           Midtown Center
...                ...        ...  ...        ...                      ...
23880928         11.81   Brooklyn  ...   Brooklyn             Clinton Hill
23880929         44.29  Manhattan  ...     Queens           Middle Village
23880930          9.98   Brooklyn  ...   Brooklyn         Sunset Park West
23880931         29.94      Bronx  ...  Manhattan             Clinton West
23880932         19.97  Manhattan  ...  Manhattan    Upper East Side South

         PU_month  PU_day  PU_hour  PU_day_of_week DO_month  DO_day  DO_hour  \
0              12      31       23       Wednesday       12      31       23
1              12      31       10       Wednesday       12      31       10
2              12      31       23         Tuesday       12      31       23
3              12      31       23         Tuesday        1       1        0
4              12      31       23         Tuesday        1       1       11
...           ...     ...      ...             ...      ...     ...      ...
23880928       12      31       23          Sunday       12      31       23
23880929       12      31       23          Sunday       12      31       23
23880930       12      31       23          Sunday       12      31       23
23880931       12      31       23          Sunday       12      31       23
23880932       12      31       23          Sunday       12      31       23

          DO_day_of_week
0              Wednesday
1              Wednesday
2                Tuesday
3              Wednesday
4              Wednesday
...                  ...
23880928          Sunday
23880929          Sunday
23880930          Sunday
23880931          Sunday
23880932          Sunday

[23880933 rows x 21 columns]

In [171]:
def standardize_columns(df):
    final_columns = [
        'taxi_type',
        'PU_datetime','PU_month','PU_day','PU_hour','PU_day_of_week',
        'DO_datetime','DO_month','DO_day','DO_hour','DO_day_of_week',
        'PU_location_id','PU_borough','PU_zone',
        'DO_location_id','DO_borough','DO_zone',
        'trip_distance','fare_amount','tip_amount','total_amount'
    ]

    df = df[final_columns]
    return df

In [173]:
taxi_2023_03_df = standardize_columns(taxi_2023_03_df)
taxi_2023_06_df = standardize_columns(taxi_2023_06_df)
taxi_2023_09_df = standardize_columns(taxi_2023_09_df)
taxi_2023_12_df = standardize_columns(taxi_2023_12_df)

In [177]:
print(taxi_2023_03_df.head())
print(taxi_2023_03_df.shape)

  taxi_type         PU_datetime  PU_month  PU_day  PU_hour PU_day_of_week  \
0    yellow 2023-03-01 00:06:43         3       1        0      Wednesday
1    yellow 2023-03-01 00:08:25         3       1        0      Wednesday
2    yellow 2023-03-01 00:15:04         3       1        0      Wednesday
3    yellow 2023-03-01 00:49:37         3       1        0      Wednesday
4    yellow 2023-03-01 00:08:04         3       1        0      Wednesday

          DO_datetime  DO_month  DO_day  DO_hour  ... PU_location_id  \
0 2023-03-01 00:16:43         3       1        0  ...            238
1 2023-03-01 00:39:30         3       1        0  ...            138
2 2023-03-01 00:29:26         3       1        0  ...            140
3 2023-03-01 01:01:05         3       1        1  ...            140
4 2023-03-01 00:11:06         3       1        0  ...             79

   PU_borough                PU_zone DO_location_id  DO_borough  \
0   Manhattan  Upper West Side North             42   Manhattan
1      Queens      LaGuardia Airport            231   Manhattan
2   Manhattan        Lenox Hill East            186   Manhattan
3   Manhattan        Lenox Hill East             43   Manhattan
4   Manhattan           East Village            137   Manhattan

                        DO_zone trip_distance  fare_amount  tip_amount  \
0          Central Harlem North          0.00          8.6        0.00
1          TriBeCa/Civic Center         12.40         52.7       12.54
2  Penn Station/Madison Sq West          3.30         18.4        4.65
3                  Central Park          2.90         15.6        4.10
4                      Kips Bay          1.23          7.2        2.44

   total_amount
0         11.10
1         76.49
2         28.05
3         24.70
4         14.64

[5 rows x 21 columns]
(23828285, 21)

In [179]:
print(taxi_2023_06_df.head())
print(taxi_2023_06_df.shape)

  taxi_type         PU_datetime  PU_month  PU_day  PU_hour PU_day_of_week  \
0    yellow 2023-06-01 00:08:48         6       1        0       Thursday
1    yellow 2023-06-01 00:15:04         6       1        0       Thursday
2    yellow 2023-06-01 00:48:24         6       1        0       Thursday
3    yellow 2023-06-01 00:54:03         6       1        0       Thursday
4    yellow 2023-06-01 00:18:44         6       1        0       Thursday

          DO_datetime  DO_month  DO_day  DO_hour  ... PU_location_id  \
0 2023-06-01 00:29:41         6       1        0  ...            140
1 2023-06-01 00:25:18         6       1        0  ...             50
2 2023-06-01 01:07:07         6       1        1  ...            138
3 2023-06-01 01:17:29         6       1        1  ...            100
4 2023-06-01 00:27:18         6       1        0  ...            137

   PU_borough            PU_zone DO_location_id  DO_borough  \
0   Manhattan    Lenox Hill East            238   Manhattan
1   Manhattan       Clinton West            151   Manhattan
2      Queens  LaGuardia Airport             97    Brooklyn
3   Manhattan   Garment District            244   Manhattan
4   Manhattan           Kips Bay            234   Manhattan

                    DO_zone trip_distance  fare_amount  tip_amount  \
0     Upper West Side North          3.40         21.9        6.70
1          Manhattan Valley          3.40         15.6        3.00
2               Fort Greene         10.20         40.8       10.00
3  Washington Heights South          9.83         39.4        8.88
4                  Union Sq          1.17          9.3        0.72

   total_amount
0         33.60
1         23.60
2         60.05
3         53.28
4         15.02

[5 rows x 21 columns]
(22676360, 21)

In [181]:
print(taxi_2023_09_df.head())
print(taxi_2023_09_df.shape)

  taxi_type         PU_datetime  PU_month  PU_day  PU_hour PU_day_of_week  \
0    yellow 2023-09-01 00:15:37         9       1        0         Friday
1    yellow 2023-09-01 00:18:40         9       1        0         Friday
2    yellow 2023-09-01 00:35:01         9       1        0         Friday
3    yellow 2023-09-01 00:45:45         9       1        0         Friday
4    yellow 2023-09-01 00:01:23         9       1        0         Friday

          DO_datetime  DO_month  DO_day  DO_hour  ... PU_location_id  \
0 2023-09-01 00:20:21         9       1        0  ...            163
1 2023-09-01 00:30:28         9       1        0  ...            236
2 2023-09-01 00:39:04         9       1        0  ...            162
3 2023-09-01 00:47:37         9       1        0  ...            141
4 2023-09-01 00:38:05         9       1        0  ...            138

   PU_borough                PU_zone DO_location_id  DO_borough  \
0   Manhattan          Midtown North            230   Manhattan
1   Manhattan  Upper East Side North            233   Manhattan
2   Manhattan           Midtown East            236   Manhattan
3   Manhattan        Lenox Hill West            229   Manhattan
4      Queens      LaGuardia Airport            230   Manhattan

                         DO_zone trip_distance  fare_amount  tip_amount  \
0      Times Sq/Theatre District          0.80          6.5        0.00
1            UN/Turtle Bay South          2.34         14.2        2.00
2          Upper East Side North          1.62          8.6        2.00
3  Sutton Place/Turtle Bay North          0.74          5.1        1.00
4      Times Sq/Theatre District          9.85         45.0       17.02

   total_amount
0         11.50
1         21.20
2         15.60
3         11.10
4         73.77

[5 rows x 21 columns]
(22706435, 21)

In [183]:
print(taxi_2023_12_df.head())
print(taxi_2023_12_df.shape)

  taxi_type         PU_datetime  PU_month  PU_day  PU_hour PU_day_of_week  \
0    yellow 2008-12-31 23:34:45        12      31       23      Wednesday
1    yellow 2008-12-31 10:34:59        12      31       10      Wednesday
2    yellow 2002-12-31 23:10:19        12      31       23        Tuesday
3    yellow 2002-12-31 23:33:00        12      31       23        Tuesday
4    yellow 2002-12-31 23:03:19        12      31       23        Tuesday

          DO_datetime  DO_month  DO_day  DO_hour  ... PU_location_id  \
0 2008-12-31 23:49:52        12      31       23  ...            132
1 2008-12-31 10:49:59        12      31       10  ...            132
2 2002-12-31 23:36:28        12      31       23  ...            132
3 2003-01-01 00:03:40         1       1        0  ...            132
4 2003-01-01 11:52:29         1       1       11  ...            132

   PU_borough      PU_zone DO_location_id  DO_borough  \
0      Queens  JFK Airport            101      Queens
1      Queens  JFK Airport            231   Manhattan
2      Queens  JFK Airport             28      Queens
3      Queens  JFK Airport             79   Manhattan
4      Queens  JFK Airport            161   Manhattan

                   DO_zone trip_distance  fare_amount  tip_amount  \
0                Glen Oaks         11.32         42.2        0.00
1     TriBeCa/Civic Center          3.01         17.0        0.00
2  Briarwood/Jamaica Hills          6.96         31.7        0.00
3             East Village         17.54         70.0        0.00
4           Midtown Center         18.13         70.0       16.46

   total_amount
0         44.95
1         21.00
2         35.45
3         81.80
4         98.76

[5 rows x 21 columns]
(23880933, 21)

In [185]:
taxi_2023_03_df.to_csv('taxi_2023_03.csv', index=False)
taxi_2023_06_df.to_csv('taxi_2023_06.csv', index=False)
taxi_2023_09_df.to_csv('taxi_2023_09.csv', index=False)
taxi_2023_12_df.to_csv('taxi_2023_12.csv', index=False)